<div id="home">
	<h1>TrailBlazer</h1>
	<button mat-raised-button color="primary" routerLink="/summary">View Client Trail Details(F10)</button>
	<button mat-raised-button color="primary" routerLink="/graph">Load Totals To Consolidation(F11)</button>
	<button mat-raised-button color="primary" routerLink="/aggregator-exposure">RTR Client Details</button> 
	<button mat-raised-button color="primary" routerLink="/summary">RTR Load Totals</button>
	<button mat-raised-button color="primary">Save and Exit(F12)</button>
</div>

